<div class="container">
  <div class="formpage">
    <form (ngSubmit)="formSub()">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input
          [(ngModel)]="student.name"
          name="name"
          placeholder="enter"
          matInput
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Age</mat-label>
        <input [(ngModel)]="student.age" name="age" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Class</mat-label>
        <input [(ngModel)]="student.sclass" name="sclass" matInput />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Place</mat-label>
        <textarea
          rows="4"
          [(ngModel)]="student.place"
          name="place"
          matInput
        ></textarea>
      </mat-form-field>

      <div class="buttonHolder">
        <button type="submit" mat-flat-button color="primary">Submit</button>
        <button type="reset" mat-flat-button color="primary">Reset</button>
      </div>
    </form>
  </div>
</div>
